body{
  background-color: black;
  
}
.hero{
  height: 55px;
  background-color:#F55A5A;
  font-size:14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:50px;
 
}

.card{

width: 415px;
height: 170px;
margin:18px 40px 18px 40px;
display: flex;
background-color:paleturquoise;
border-radius:15px;
box-shadow: 5px 5px blueviolet;
}
.card--image{
  height: 168px;
  width: 125px;
  border-radius: 5px;
  
}
.card-content{
  margin-left:20px ;
}
.cards-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink:3;
}